body {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 900px;
}

.landing {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(30,30,30,1) 100%);
    flex-direction: column;

    .landing-brand {
        color: rgb(227, 170, 168);
        margin-bottom: 20px;

        .brand-primary {
            color: #fff;
            font-weight: 600;
            font-size: 1.8em;
        }
    }
}
